.header {
    margin: 3em;
  }
  
  .nav {
    margin: 1em;
  }
  
  [fxLayout="column"] {
  //   border: 1px solid;
    padding: 4px;
  //   margin-top: 50px;
  } 
  
  [fxFlex] {
    padding: 5px;
  }